.meme {
  margin-top: 35px;
}

.meme-name {
  text-align: left;
  font-size: 32px;
  font-weight: 500;
}

.meme-caption {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 12px;
}

.meme img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.meme-btn {
  margin-top: 10px;
}

.meme-btn Button {
  margin-right: 5px;
}

@media (max-width: 480px) {
  .meme-name {
    font-size: 18px;
  }

  .meme-caption {
    font-size: 14px;
  }
}
